<h2>Todo item detail</h2>
<div *ngIf="todoItem">
  <div>
    <span>title:</span>
    <span>{{todoItem.title}}</span>
  </div>
  <div>
    <span>description:</span>
    <span>{{todoItem.description}}</span>
  </div>
  <div>
    <span>isDone:</span>
    <span>{{todoItem.isDone}}</span>
  </div>
</div>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" />
  <input type="text" formControlName="description" />
  <input type="checkbox" formControlName="isDone" />
  <button type="submit">update</button>
</form>
